@font-face {
	font-family: "Nirmala";
	src: url("../fonts/nirmala-regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Nirmala";
	src: url("../fonts/nirmala-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}